target/
!.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

### Logs ###
*.log

### Secrets / entorno local ###
.env
*.pem
wallet/
### Wallet Oracle (NUNCA versionar) ###
Wallet_*.zip
Wallet_*/
cwallet.sso
ewallet.p12
*.jks
tnsnames.ora
sqlnet.ora
ojdbc.properties

### OS ###
.DS_Store
Thumbs.db
